name: Deploy to CloudType

on:
  push:
    branches: [ "main" ]
    paths:
      - "server/**"
      - ".github/workflows/deploy.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect deploy key
        uses: cloudtype-github-actions/connect@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          ghtoken: ${{ secrets.GHP_TOKEN }}

      - name: Deploy to CloudType
        uses: cloudtype-github-actions/deploy@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          project: csjh1/postgresql
          stage: main
          yaml: >
            name: devlog-ai
            app: dockerfile
            options:
              ports: "8000"
              dockerfile: server/Dockerfile
              healthz: /health
              strategy: rolling
            context:
              git:
                url: git@github.com:${{ github.repository }}.git
                ref: ${{ github.ref }}